<div class="page-header">
  <h1>My Profile</h1>
</div>

<%= form_tag(user_url(@user), method: 'patch', class: 'form-horizontal') do %>
  <% if current_user.user_rights? %>
    <%= hidden_field_tag 'right', current_user.user_rights %>
  <% elsif params["t"] == "crnt" %>
    <%= hidden_field_tag 'right', 1 %>
  <% else %>
    <%= hidden_field_tag 'right', 0 %>
  <% end %>
  <div class="form-group">
    <div class="col-md-1">
    </div>
    <div class="col-md-8">
      <b>Contact Information</b>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-1">
    </div>
    <div class="col-md-8">
      <%= text_field_tag :email, current_user.email, placeholder:'Email Address', class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
      <%= text_field_tag :first_name, current_user.first_name, placeholder:'First Name', class: 'form-control' %>
    </div>
    <div class="col-md-4">
      <%= text_field_tag :last_name, current_user.last_name, placeholder:'Last Name', class: 'form-control' %>
    </div>
  </div>
  <div>&nbsp;</div>
  <div class="form-group">
    <div class="col-md-1">
    </div>
    <div class="col-md-8">
      <b>Current Job Information</b>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
      <%= select_tag(:country_id, options_from_collection_for_select(Country.all, :id, :name, current_user.country_id), prompt: 'Please select your current country', class: 'form-control') %>
    </div>
    <div class="col-md-4">
      <%= select_tag(:state_id, options_for_select(@states, current_user.state), prompt: 'Please select your current state (only US)', class: 'form-control') %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
      <%= select_tag(:before_industry_id, options_from_collection_for_select(Industry.all, :id, :name, current_user.before_industry.try(:industry_id)), prompt: 'Please select your current job industry', class: 'form-control') %>
    </div>
    <div class="col-md-4">
      <%= select_tag(:before_function_id, options_from_collection_for_select(Function.all, :id, :name, current_user.before_function.try(:function_id)), prompt: 'Please select your current job function', class: 'form-control') %>
    </div>
  </div>
  <div>&nbsp;</div>
  <div class="form-group">
    <div class="col-md-1">
    </div>
    <div class="col-md-8">
      <b>MBA and Job Interest Information</b>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-1">
    </div>
    <div class="col-md-8">
      <%= select_tag(:program_id, options_from_collection_for_select(Program.all, :id, :name, current_user.program_id), prompt: 'Please select your program of interest', class: 'form-control') %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
      <%= select_tag(:after_industry_id, options_from_collection_for_select(Industry.all, :id, :name, current_user.after_industry.try(:industry_id)), prompt: 'Please select your industry of interest', class: 'form-control') %>
    </div>
    <div class="col-md-4">
      <%= select_tag(:after_function_id, options_from_collection_for_select(Function.all, :id, :name, current_user.after_function.try(:function_id)), prompt: 'Please select your function of interest', class: 'form-control') %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
      <%= select_tag(:interest1_id, options_from_collection_for_select(Interest.all, :id, :name, current_user.interests[0].try(:id)), prompt: 'Please select your 1st club of interest', class: 'form-control') %>
    </div>
    <div class="col-md-4">
      <%= select_tag(:interest2_id, options_from_collection_for_select(Interest.all, :id, :name, current_user.interests[1].try(:id)), prompt: 'Please select your 2nd club of interest', class: 'form-control') %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
      <%= select_tag(:interest3_id, options_from_collection_for_select(Interest.all, :id, :name, current_user.interests[2].try(:id)), prompt: 'Please select your 3rd club of interest', class: 'form-control') %>
    </div>
  </div>
  <div>&nbsp;</div>
  <div class="form-group">
    <div class="col-md-offset-1 col-md-6">
      <%= submit_tag "Save Profile", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
