  <%= javascript_include_tag "chosen.jquery.min" %> 
  <%= javascript_include_tag "edit_profile" %> 
  <%= stylesheet_link_tag  "chosen" %>
  <%
    text = {}
    unless current_user.prospective?
      text['current_job'] = 'Job Prior to Kellogg'
      text['current_industry'] = 'Your Job Industry Prior To Kellogg'
      text['current_function'] = 'Your Job Function Prior To Kellogg'
      text['programs'] = 'Program Your Are Enrolled In'
      text['country'] = 'Your Current Job Country'
      text['state'] = 'Your Current Job State (only for USA)'
    else
      text['current_job'] = 'Current Job Information'
      text['current_industry'] = 'Your Current Job Industry'
      text['current_function'] = 'Your Current Job Function'
      text['programs'] = 'Program(s) You Are Interested in'
      text['country'] = 'Country of Job Prior To Kellog'
      text['state'] = 'State of Job Prior To Kellogg (only for USA)'
    end
    text['next_job'] = 'Job Interest After Kellogg'
    text['next_industry'] = 'Industry You Would Like to Work in After Kellogg'
    text['next_function'] = 'Function You Would Like to Have After Kellogg'

  %>
<div class="container-fluid">
    
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center title-sub ">
        <span >Welcome to You@Kellogg</span>
    </h1>
    <hr  class="visible-xs">
  </div>

  <div class="col-md-10 col-md-offset-2">
    <dl class="faq" style="counter-increment: my-badass-counter+1;">
      <dd style="font-size:20px"><span>Tell us a little about yourself</span>. </dd>
    </dl>

    <%= form_tag("/users/#{@user.id}", method: 'patch', id: 'edit_profile' , class: 'form-horizontal') do %>
    <% if current_user.user_rights? %>
      <%= hidden_field_tag 'right', current_user.user_rights %>
    <% elsif params["t"] == "crnt" %>
      <%= hidden_field_tag 'right', 1 %>
    <% else %>
      <%= hidden_field_tag 'right', 0 %>
    <% end %>

    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

    <div class="form-group">
      <div class="col-md-10">
        <b class="subtitle" >Contact Information</b>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-10">
        <%= text_field_tag :email, current_user.email, placeholder:'Email Address', class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-5">
        <%= text_field_tag :first_name, current_user.first_name, placeholder:'First Name', class: 'form-control' %>
      </div>
      <div class="col-md-5">
        <%= text_field_tag :last_name, current_user.last_name, placeholder:'Last Name', class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-10">
      <hr>
        <b class="subtitle" ><%=text['current_job']%></b>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-5">
        <%= select_tag(:country_id, options_from_collection_for_select(Country.all, :id, :name, current_user.country_id), prompt: text['country'], id:'state_select', class: 'form-control ') %>

      </div>
      <div class="col-md-5">
        <%= select_tag(:state, options_for_select(@states, current_user.state), prompt: text['state'], class: 'form-control hidden') %>
         <%= text_field_tag :state, current_user.state, placeholder:text['state'], id:'state_text', class: 'form-control' %>

      </div>
    </div>


    <div class="form-group">
      <div class="col-md-5">
        <%= select_tag(:current_industry_id, options_from_collection_for_select(Industry.all, :id, :name, current_user.current_industry_id), prompt: text['current_industry'], class: 'form-control') %>
      </div>
      <div class="col-md-5">
        <%= select_tag(:current_function_id, options_from_collection_for_select(Function.all, :id, :name, current_user.current_function_id), prompt: text['current_function'], class: 'form-control') %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-10">
      <hr>
        <b class="subtitle" ><%=text['programs']%> (<a href="http://www.kellogg.northwestern.edu/programs/fulltimemba/mba_programs.aspx" target="_blank">learn more about each program</a>)</b>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-10">
        <%= collection_check_boxes(:user, :program_ids, Program.all, :id, :name, {}, {}) do |b| %>
          <div class="col-md-4">
            <div class="checkbox"> 
              <%=  b.label(:"data-value" => b.value) { b.check_box + b.text } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-10">
        <hr>
        <b class="subtitle" ><%=text['next_job']%></b>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-5">
        <%= select_tag(:interest_industry_id, options_from_collection_for_select(Industry.all, :id, :name, current_user.interest_industry_id), prompt: text['next_industry'], class: 'form-control') %>
      </div>
      <div class="col-md-5">
        <%= select_tag(:interest_function_id, options_from_collection_for_select(Function.all, :id, :name, current_user.interest_function_id), prompt: text['next_function'], class: 'form-control') %>
      </div>
    </div>

    <div>&nbsp;</div>
    <div class="form-group">
      <div class="col-md-10">
        <b>Professional Clubs of Interest - Max 3.</b>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-10">

        <%= select_tag(:club_ids, options_from_collection_for_select(Club.where(type_club: "Professional"), :id, :name, current_user.club_ids), placeholder: 'Please select your function of interest', class: 'chosen-select form-control', multiple: true, "data-placeholder" => "Professional Clubs of Interest") %>

      </div>
    </div>

    <div>&nbsp;</div>
    <div class="form-group">
      <div class="col-md-10">
        <b>Affinity Clubs of Interest - Max 3.</b>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-10">

        <%= select_tag(:club_ids, options_from_collection_for_select(Club.where(type_club: "Affinity"), :id, :name, current_user.club_ids), placeholder: 'Please select your function of interest', class: 'form-control chosen-select', multiple: true, "data-placeholder" => "Affinity Clubs of Interest") %>

      </div>
    </div>
    <div class="clearfix"></div>
    <div>&nbsp;</div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-6" style="text-align: center;">
        <%= submit_tag "Save and go to my Profile", class: 'btn btn-warning',style: "margin-top: 20px;" %>
      </div>
    </div>
  <% end %>
    
  </div>
</div>
