<div class="container-fluid">
  <div class="col-md-8 col-md-offset-2">

    <div class="row" style="margin: 0 10%">
      <h1 class="text-center title-sub ">
        <span >Make a Connection</span>
      </h1>
      <hr  class="visible-xs">
    </div>
    
    <%= form_tag(make_connection_path(current_user), :method=>'post') do %>
      <div class="form-group" style="padding:30px">
        <%= text_area_tag "message", "",:id => "connection-message", :size=>"10x10", class: "form-control", placeholder:"Introduce yourself in less than 250 words" %>
      </div>
      <div class="col-md-4 col-md-offset-4 text-center">
        <%= submit_tag 'SEND REQUEST', class: "btn btn-warning btn-lg" %>
      </div>
    <% end %>
    
  </div>
</div>

  <%= javascript_include_tag "jquery.plugin.min" %>
  <%= javascript_include_tag "jquery.maxlength.min" %> 
  <%= javascript_include_tag "make-connection" %> 