<div class="page-header">
  <h1>User #<%= @user.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>First name</dt>
  <dd><%= @user.first_name %></dd>

  <dt>Last name</dt>
  <dd><%= @user.last_name %></dd>

  <dt>Right</dt>
  <dd><%= @user.right %></dd>

  <dt>Country</dt>
  <dd><%= @user.country_id %></dd>

  <dt>Program</dt>
  <dd><%= @user.program_id %></dd>

  <dt>Class</dt>
  <dd><%= @user.class %></dd>

  <dt>Contact count</dt>
  <dd><%= @user.contact_count %></dd>

</dl>
