<div class="container-fluid">
  <div class="row" style="margin: 0 10%">
    <h1 class="text-center title-sub "><span >Putting it in practice</span></h1>
    <hr  class="visible-xs">
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <p>Kellogg has a wealth of experiential learning opportunities. Here is what some students have done.
      </p>
    </div>
  </div>
  <div class="container academics-row">
  <% @stories.each do |story| %>
    <div class="row">
      <div class="col-lg-2">
        <img src="<%=story.image%>" class="pull-left academics-img" >
      </div>
      <div class="col-lg-10">
        <h3><%=story.title%></h3>
        <p><%=story.description%></p>
        <p>- <%=story.autor%>, <%=story.year%></p>        
      </div>
    </div>
  <%end%>

    <div class="container" style="padding-top:40px">
      <div class="col-md-4 col-md-offset-4">
        <a href="https://www4.kellogg.northwestern.edu/CourseCatalogSchedule/" target="_blank" class="btn btn-warning">CHECK OUT THE COURSE CATALOG</a>
      </div>
    </div>
    
</div>