<div class="container-fluid">
  
  <div class="col-md-8 col-md-offset-2"><h1 class="text-center">Please log in to make a connection</h1>
  <hr></div>

  <div class="col-md-4 col-md-offset-4">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name),:html => { :class => 'form-horizontal' }) do |f| %>
      <div class="form-group">

        <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
        <br>
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end -%>

      <div><%= f.submit "LOG IN TO MY ACCOUNT", class: "btn btn-warning btn-block", style: "font-size:20px" %></div>
      <br>
      <p class="text-center"><%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-warning" %></p>

      <br>
      <hr>
      
      <div>
        <p class="text-center text-muted" style="font-size:18px">Don't have account yet?</p>
        <p class="text-center"><%= link_to "CREATE AN ACCOUNT", new_registration_path(resource_name), class: "btn btn-warning centered" %></p>
      </div>
    <% end %>

  </div>
</div>